language: php

php:
  - 5.4
  - 5.5
  - 5.6

before_script:
  - pyrus install pear/PHP_CodeSniffer
  - phpenv rehash
  - php src/index.php build

script:
  - php builds/kava.phar build
  - phpcs --report-full --standard=PSR2 src/
  - phpunit --configuration=tests/phpunit.xml --testdox

matrix:
  fast_finish: true
  allow_failures:
      - php: 5.4

notifications:
  email:
    recipients:
      - apietka@future-processing.com
    on_success: change
    on_failure: always